Repository spacetimewave/spacetimewave-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix, stylelint

chore(linter): disable react in scope eslint rule since vite already injects react dependency
  eslint.config.js
Due: prettier --write, eslint

refactor(app): clean app component and static resources
  public/vite.svg
  src/App.tsx
  src/assets/react.svg
Due: prettier --write, eslint

feat(router): add routing, home page and error page
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/pages/Error/index.tsx
  src/pages/Home/index.tsx
  src/routes/Router.tsx
  src/routes/Routes.tsx
Due: prettier --write, eslint

feat(branding): add spacetimewave logo and web title
  index.html
  public/logo.jpg
  src/assets/logo.jpg
Due: none

feat(branding): add spacetimewave logo and web title
  index.html
  public/icon-expanded.png
  public/icon.png
  src/assets/icon-expanded.png
  src/assets/icon.png
Due: none

chore(linter): disable react prop-types eslint rule
  eslint.config.js
Due: prettier --write, eslint

feat(components): add shadcn components
  package.json
  pnpm-lock.yaml
  src/components/mode-toggle.tsx
  src/components/theme-provider.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/navigation-menu.tsx
Due: prettier --write, eslint

feat(components): add spacetimewave icon component
  src/components/icon.tsx
Due: prettier --write, eslint

feat(components): add shadcn darkmode and home navbar
  src/App.tsx
  src/pages/Home/index.tsx
Due: prettier --write, eslint

chore(linter): add react version to eslint react plugin
  eslint.config.js
Due: prettier --write, eslint

feat(css): remove global styles
  src/App.css
Due: stylelint --fix, stylelint

feat(icon): add icon component with spacetimewave logo
  src/components/icon.tsx
Due: prettier --write, eslint

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build(github_action): modify github action to build and deploy the static web app into azure
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build(github_action): modify github action to deploy the dist folder to azure
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build(github_action): modify github action to deploy
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build(github_action): modify github action to use node v20
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build(github_action): modify github action to install global dependencies with pnpm
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build(github_action): modify github action to install dependencies with pnpm
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build: add deploy command and edit github action to execute the command with the env variables
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
  package.json
Due: prettier --write

build: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

build: edit deploy command in package.json
  package.json
Due: prettier --write

build: add env token variable before deploying
  package.json
Due: prettier --write

build: add deploy command to github action
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: modify github action
  .github/workflows/azure-static-web-apps-brave-glacier-0a3a05903.yml
Due: none

build: add static web app configuration file
  staticwebapp.config.json
Due: prettier --write

feat(services): add service section with autoplay horizontal swiper
  package.json
  pnpm-lock.yaml
  src/components/horizontal-swiper.tsx
  src/pages/Home/index.tsx
Due: prettier --write, eslint

feat(services): add card to horizontal swiper and services list
  src/components/horizontal-swiper.tsx
  src/components/ui/card.tsx
Due: prettier --write, eslint

feat(icons): add social media icons and profile image
  src/assets/profile.jpg
  src/components/icons/github.tsx
  src/components/icons/linkedin.tsx
  src/components/icons/twitter.tsx
Due: prettier --write, eslint

feat(home): add provisional sections, about section, team section, and footer
  src/pages/Home/index.tsx
Due: prettier --write, eslint

refactor(home): suppress tailwind warnings on home page
  src/pages/Home/index.tsx
Due: prettier --write, eslint

feat(home): improve navbar for different device sizes
  src/pages/Home/index.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  stylelint: any of: *.css
